<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>MEMORIES</h1>
    <% for (post of posts) { %>
        <div class="post">
            <p class="id">Id = <%= post.id %></p>
            <h4 class="user"> <%= post.name %></h4>
            <h4 class="title"> <%= post.title %></h4>
            <p class="content"><%= post.content %></p>
            <p class="content"><%= post.tags %></p>
            <br>
            <a href="http://localhost:8080/posts/<%= post.id %>" class="detail c">See in detail</a>
            <a href="http://localhost:8080/posts/<%= post.id %>/edit" class="edit c">Edit Post</a>

            <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                <button class="delete">Delete Post</button>
            </form>
        </div>

    <% } %>
    <br>
    <a href="http://localhost:8080/posts/new" class="new">Add a new Memory</a>
</body>
</html>